* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}
.calc {
    margin-top: 140px;
}

body{
    display: flex;
    justify-content: center;
    background-color: black;
}

#cl:hover {
    background-color: #E91E63;

}
input[type="text"] {
    font-size: 30px;
    text-align: end;
    width: 290px;
    height: 100px;

}
.cont {
    display: grid;
    grid-template-columns: repeat(5,50px);
    display: grid;
    grid-template-columns: repeat(5,59px);
    padding: 10px 0;
}
button {
    height: 100px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    background-color: black;
    color: white;
    border: 1px solid ;
}
#equ {
    width: 177px;
    font-size: 32px;
}
/* #equ:hover {
    background-color: aqua;

} */
button:hover {
    background-color: aqua;
}